<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Sl@ves</title>

</head>
<body>
<header>
    <h1>Chubziki</h1>
</header>
<div class="content" style="font-family: ui-sans-serif sans-serif">
    <form id="worker-create-form">
        <h2>Create / Update</h2>
        <label> Id (set this to update existing worker)
            <input name="id" type="text"/>
        </label> <br>
        <label> Name
            <input name="name" type="text"/>
        </label> <br>
        <label> X
            <input name="x" type="text"/>
        </label> <br>
        <label> Y
            <input name="y" type="text"/>
        </label> <br>
        <label> Created
            <input name="created" type="text"/>
        </label> <br>
        <label> Salary
            <input name="salary" type="text"/>
        </label> <br>
        <label> Hired
            <input name="hired" type="text"/>
        </label> <br>
        <label> Quit
            <input name="quit" type="text"/>
        </label> <br>
        <label> Status<br>
            <input name="status" type="radio" value="FIRED"/>FIRED<br>
            <input name="status" type="radio" value="HIRED"/>HIRED<br>
            <input name="status" type="radio" value="RECOMMENDED_FOR_PROMOTION"/>RECOMMENDED_FOR_PROMOTION<br>
            <input name="status" type="radio" value="REGULAR"/>REGULAR<br>
            <input name="status" type="radio" value="PROBATION"/>PROBATION<br>
        </label> <br>
        <label> Passport
            <input name="passport" type="text"/>
        </label> <br>
        <label> Eye Color<br>
            <input name="eye-color" type="radio" value="GREEN"/>GREEN<br>
            <input name="eye-color" type="radio" value="YELLOW"/>YELLOW<br>
            <input name="eye-color" type="radio" value="BROWN"/>BROWN<br>
        </label> <br>
        <label> Hair Color<br>
            <input name="hair-color" type="radio" value="RED"/>RED<br>
            <input name="hair-color" type="radio" value="BLACK"/>BLACK<br>
            <input name="hair-color" type="radio" value="BLUE"/>BLUE<br>
            <input name="hair-color" type="radio" value="WHITE"/>WHITE<br>
            <input name="hair-color" type="radio" value="BROWN"/>BROWN<br>
        </label> <br>
        <label> Nationality<br>
            <input name="nationality" type="radio" value="RUSSIA"/>RUSSIA<br>
            <input name="nationality" type="radio" value="USA"/>USA<br>
            <input name="nationality" type="radio" value="ITALY"/>ITALY<br>
            <input name="nationality" type="radio" value="NORTH_KOREA"/>NORTH_KOREA<br>
        </label> <br>
        <input onclick="
            const form = new FormData(document.getElementById('worker-create-form'))
            let id = form.get('id')

            let data = ''

            for(let [name, value] of form) {
              data += name + ':' + value + '\n';
            }

            let request = {
                body: data
            }

            if (id != null && id.trim() !== '') {
                request.method = 'PUT'
                fetch(`crud/${id}`, request).then(null, alert)
            } else {
                request.method = 'POST'
                fetch(`crud`, request).then(null, alert)
            }
            " type="button" value="Commit">
    </form>

    <form action="crud" method="get">
        <div class="sort">
            <h2>Sort</h2>
            <h3>Ascending, descending</h3>
            <label> Name
                <input name="sort_Name" type="radio" value="asc"/>
                <input name="sort_Name" type="radio" value="dsc"/>
            </label> <br>
            <label> X
                <input name="sort_X" type="radio" value="asc"/>
                <input name="sort_X" type="radio" value="dsc"/>
            </label> <br>
            <label> Y
                <input name="sort_Y" type="radio" value="asc"/>
                <input name="sort_Y" type="radio" value="dsc"/>
            </label> <br>
            <label> Created
                <input name="sort_Created" type="radio" value="asc"/>
                <input name="sort_Created" type="radio" value="dsc"/>
            </label> <br>
            <label> Salary
                <input name="sort_Salary" type="radio" value="asc"/>
                <input name="sort_Salary" type="radio" value="dsc"/>
            </label> <br>
            <label> Hired
                <input name="sort_Hired" type="radio" value="asc"/>
                <input name="sort_Hired" type="radio" value="dsc"/>
            </label> <br>
            <label> Quit
                <input name="sort_Quit" type="radio" value="asc"/>
                <input name="sort_Quit" type="radio" value="dsc"/>
            </label> <br>
            <label> Status
                <input name="sort_Status" type="radio" value="asc"/>
                <input name="sort_Status" type="radio" value="dsc"/>
            </label> <br>
            <label> Passport
                <input name="sort_Passport" type="radio" value="asc"/>
                <input name="sort_Passport" type="radio" value="dsc"/>
            </label> <br>
            <label> Eye Color
                <input name="sort_EyeColor" type="radio" value="asc"/>
                <input name="sort_EyeColor" type="radio" value="dsc"/>
            </label> <br>
            <label> Hair Color
                <input name="sort_HairColor" type="radio" value="asc"/>
                <input name="sort_HairColor" type="radio" value="dsc"/>
            </label> <br>
            <label> Nationality
                <input name="sort_Nationality" type="radio" value="asc"/>
                <input name="sort_Nationality" type="radio" value="dsc"/>
            </label> <br>
        </div>

        <div class="filter">
            <h2>Filter</h2>
            <label> Name <br>
                <input name="filter_Name" type="radio" value="lt"/> < <input name="filter_Name_lt" type="text"> <br>
                <input name="filter_Name" type="radio" value="lte"/> <= <input name="filter_Name_lte" type="text"> <br>
                <input name="filter_Name" type="radio" value="eq"/> = <input name="filter_Name_eq" type="text"> <br>
                <input name="filter_Name" type="radio" value="gte"/> >= <input name="filter_Name_gte" type="text"> <br>
                <input name="filter_Name" type="radio" value="gt"/> > <input name="filter_Name_gt" type="text"> <br>
            </label>
            <label> X <br>
                <input name="filter_X" type="radio" value="lt"/> < <input name="filter_X_lt" type="text"> <br>
                <input name="filter_X" type="radio" value="lte"/> <= <input name="filter_X_lte" type="text"> <br>
                <input name="filter_X" type="radio" value="eq"/> = <input name="filter_X_eq" type="text"> <br>
                <input name="filter_X" type="radio" value="gte"/> >= <input name="filter_X_gte" type="text"> <br>
                <input name="filter_X" type="radio" value="gt"/> > <input name="filter_X_gt" type="text"> <br>
            </label>
            <label> Y <br>
                <input name="filter_Y" type="radio" value="lt"/> < <input name="filter_Y_lt" type="text"> <br>
                <input name="filter_Y" type="radio" value="lte"/> <= <input name="filter_Y_lte" type="text"> <br>
                <input name="filter_Y" type="radio" value="eq"/> = <input name="filter_Y_eq" type="text"> <br>
                <input name="filter_Y" type="radio" value="gte"/> >= <input name="filter_Y_gte" type="text"> <br>
                <input name="filter_Y" type="radio" value="gt"/> > <input name="filter_Y_gt" type="text"> <br>
            </label>
            <label> Created <br>
                <input name="filter_Created" type="radio" value="lt"/> < <input name="filter_Created_lt" type="text">
                <br>
                <input name="filter_Created" type="radio" value="lte"/> <= <input name="filter_Created_lte" type="text">
                <br>
                <input name="filter_Created" type="radio" value="eq"/> = <input name="filter_Created_eq" type="text">
                <br>
                <input name="filter_Created" type="radio" value="gte"/> >= <input name="filter_Created_gte" type="text">
                <br>
                <input name="filter_Created" type="radio" value="gt"/> > <input name="filter_Created_gt" type="text">
                <br>
            </label>
            <label> Salary <br>
                <input name="filter_Salary" type="radio" value="lt"/> < <input name="filter_Salary_lt" type="text"> <br>
                <input name="filter_Salary" type="radio" value="lte"/> <= <input name="filter_Salary_lte" type="text">
                <br>
                <input name="filter_Salary" type="radio" value="eq"/> = <input name="filter_Salary_eq" type="text"> <br>
                <input name="filter_Salary" type="radio" value="gte"/> >= <input name="filter_Salary_gte" type="text">
                <br>
                <input name="filter_Salary" type="radio" value="gt"/> > <input name="filter_Salary_gt" type="text"> <br>
            </label>
            <label> Hired <br>
                <input name="filter_Hired" type="radio" value="lt"/> < <input name="filter_Hired_lt" type="text"> <br>
                <input name="filter_Hired" type="radio" value="lte"/> <= <input name="filter_Hired_lte" type="text">
                <br>
                <input name="filter_Hired" type="radio" value="eq"/> = <input name="filter_Hired_eq" type="text"> <br>
                <input name="filter_Hired" type="radio" value="gte"/> >= <input name="filter_Hired_gte" type="text">
                <br>
                <input name="filter_Hired" type="radio" value="gt"/> > <input name="filter_Hired_gt" type="text"> <br>
            </label>
            <label> Quit <br>
                <input name="filter_Quit" type="radio" value="lt"/> < <input name="filter_Quit_lt" type="text"> <br>
                <input name="filter_Quit" type="radio" value="lte"/> <= <input name="filter_Quit_lte" type="text"> <br>
                <input name="filter_Quit" type="radio" value="eq"/> = <input name="filter_Quit_eq" type="text"> <br>
                <input name="filter_Quit" type="radio" value="gte"/> >= <input name="filter_Quit_gte" type="text"> <br>
                <input name="filter_Quit" type="radio" value="gt"/> > <input name="filter_Quit_gt" type="text"> <br>
            </label>
            <label> Status <br>
                <input name="filter_Status" type="radio" value="lt"/> < <input name="filter_Status_lt" type="text"> <br>
                <input name="filter_Status" type="radio" value="lte"/> <= <input name="filter_Status_lte" type="text">
                <br>
                <input name="filter_Status" type="radio" value="eq"/> = <input name="filter_Status_eq" type="text"> <br>
                <input name="filter_Status" type="radio" value="gte"/> >= <input name="filter_Status_gte" type="text">
                <br>
                <input name="filter_Status" type="radio" value="gt"/> > <input name="filter_Status_gt" type="text"> <br>
            </label>
            <label> Passport <br>
                <input name="filter_Passport" type="radio" value="lt"/> < <input name="filter_Passport_lt" type="text">
                <br>
                <input name="filter_Passport" type="radio" value="lte"/> <= <input name="filter_Passport_lte"
                                                                                   type="text"> <br>
                <input name="filter_Passport" type="radio" value="eq"/> = <input name="filter_Passport_eq" type="text">
                <br>
                <input name="filter_Passport" type="radio" value="gte"/> >= <input name="filter_Passport_gte"
                                                                                   type="text"> <br>
                <input name="filter_Passport" type="radio" value="gt"/> > <input name="filter_Passport_gt" type="text">
                <br>
            </label>
            <label> Eye Color <br>
                <input name="filter_EyeColor" type="radio" value="lt"/> < <input name="filter_EyeColor_lt" type="text">
                <br>
                <input name="filter_EyeColor" type="radio" value="lte"/> <= <input name="filter_EyeColor_lte"
                                                                                   type="text"> <br>
                <input name="filter_EyeColor" type="radio" value="eq"/> = <input name="filter_EyeColor_eq" type="text">
                <br>
                <input name="filter_EyeColor" type="radio" value="gte"/> >= <input name="filter_EyeColor_gte"
                                                                                   type="text"> <br>
                <input name="filter_EyeColor" type="radio" value="gt"/> > <input name="filter_EyeColor_gt" type="text">
                <br>
            </label>
            <label> Hair Color <br>
                <input name="filter_HairColor" type="radio" value="lt"/> < <input name="filter_HairColor_lt"
                                                                                  type="text"> <br>
                <input name="filter_HairColor" type="radio" value="lte"/> <= <input name="filter_HairColor_lte"
                                                                                    type="text"> <br>
                <input name="filter_HairColor" type="radio" value="eq"/> = <input name="filter_HairColor_eq"
                                                                                  type="text"> <br>
                <input name="filter_HairColor" type="radio" value="gte"/> >= <input name="filter_HairColor_gte"
                                                                                    type="text"> <br>
                <input name="filter_HairColor" type="radio" value="gt"/> > <input name="filter_HairColor_gt"
                                                                                  type="text"> <br>
            </label>
            <label> Nationality <br>
                <input name="filter_Nationality" type="radio" value="lt"/> < <input name="filter_Nationality_lt"
                                                                                    type="text"> <br>
                <input name="filter_Nationality" type="radio" value="lte"/> <= <input name="filter_Nationality_lte"
                                                                                      type="text">
                <br>
                <input name="filter_Nationality" type="radio" value="eq"/> = <input name="filter_Nationality_eq"
                                                                                    type="text"> <br>
                <input name="filter_Nationality" type="radio" value="gte"/> >= <input name="filter_Nationality_gte"
                                                                                      type="text">
                <br>
                <input name="filter_Nationality" type="radio" value="gt"/> > <input name="filter_Nationality_gt"
                                                                                    type="text"> <br>
            </label>
        </div>

        <div class="find">
            <h2>Search</h2>
            <label> Limit
                <input type="text"/>
            </label>
            <label> Offset
                <input type="text"/>
            </label>
            <input type="submit" value="Найти">
        </div>

        <div class="delete">
            <h2>Delete</h2>
            <label> Id <input id="delete-id" type="text">
                <button onclick="
                  let id = document.getElementById('delete-id')
                  if (id == null) return

                  fetch(`crud/${id.value}`, {
                    method: 'delete'
                  }).then(null, alert)
           " type="button">DELETE
                </button>
            </label>
        </div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>X</th>
                <th>Y</th>
                <th>Created</th>
                <th>Salary</th>
                <th>Hired</th>
                <th>Quit</th>
                <th>Status</th>
                <th>Passport</th>
                <th>Eye Color</th>
                <th>Hair Color</th>
                <th>Nationality</th>
            </tr>
            <tr th:each="worker : ${workers}">
                <td th:text="${worker.id}"></td>
                <td th:text="${worker.name}"></td>
                <td th:text="${worker.coordinates.x}"></td>
                <td th:text="${worker.coordinates.y}"></td>
                <td th:text="${worker.created}"></td>
                <td th:text="${worker.salary}"></td>
                <td th:text="${worker.hired}"></td>
                <td th:text="${worker.quit}"></td>
                <td th:text="${worker.status}"></td>
                <td th:text="${worker.person.passport}"></td>
                <td th:text="${worker.person.eyeColor}"></td>
                <td th:text="${worker.person.hairColor}"></td>
                <td th:text="${worker.person.nationality}"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>