<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Sl@ves</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="css/shards.min.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/shards.min.js"></script>
</head>
<body>
<div class="container">
    <a href="extra"> Extra </a>
    <header>
        <h1>Chubziki</h1>
    </header>
    <div class="row">
        <div class="col" th:insert="fragments/create-worker.html :: form"></div>
        <div>
            <form id="find-workers-form" onsubmit="return findChubz(event)">
                <div class="find">
                    <h2>Search</h2>
                    <label> Limit
                        <input name="limit" type="text"/>
                    </label>
                    <label> Offset
                        <input name="offset" type="text"/>
                    </label>
                    <input class="btn btn-secondary" onclick="findChubz(null)" onsubmit="return findChubz(event)"
                           type="button" value="Find">
                </div>

                <div class="row">
                    <div class="col sort">
                        <h2>Sort (asc, desc)</h2>
                        <div th:replace="fragments/form.html :: sort('Name',        'name')"></div>
                        <div th:replace="fragments/form.html :: sort('X',           'x')"></div>
                        <div th:replace="fragments/form.html :: sort('Y',           'y')"></div>
                        <div th:replace="fragments/form.html :: sort('Created',     'created')"></div>
                        <div th:replace="fragments/form.html :: sort('Salary',      'salary')"></div>
                        <div th:replace="fragments/form.html :: sort('Hired',       'hired')"></div>
                        <div th:replace="fragments/form.html :: sort('Quit',        'quit')"></div>
                        <div th:replace="fragments/form.html :: sort('Status',      'status')"></div>
                        <div th:replace="fragments/form.html :: sort('Eye color',   'eye_color')"></div>
                        <div th:replace="fragments/form.html :: sort('Hair color',  'hair_color')"></div>
                        <div th:replace="fragments/form.html :: sort('Nationality', 'nationality')"></div>
                    </div>

                    <div class="col filter">
                        <h2>Filter</h2>
                        <div th:replace="fragments/form.html :: filter('Name',        'name')"></div>
                        <div th:replace="fragments/form.html :: filter('X',           'x')"></div>
                        <div th:replace="fragments/form.html :: filter('Y',           'y')"></div>
                        <div th:replace="fragments/form.html :: filter('Created',     'created')"></div>
                        <div th:replace="fragments/form.html :: filter('Salary',      'salary')"></div>
                        <div th:replace="fragments/form.html :: filter('Hired',       'hired')"></div>
                        <div th:replace="fragments/form.html :: filter('Quit',        'quit')"></div>
                        <div th:replace="fragments/form.html :: filter('Status',      'status')"></div>
                        <div th:replace="fragments/form.html :: filter('Eye color',   'eye_color')"></div>
                        <div th:replace="fragments/form.html :: filter('Hair color',  'hair_color')"></div>
                        <div th:replace="fragments/form.html :: filter('Nationality', 'nationality')"></div>
                    </div>
                </div>
            </form>
            <div class="delete">
                <h2>Delete</h2>
                <label> Id <input id="delete-id" type="text">
                    <button class="btn btn-danger" onclick="deleteChubz()" type="button">DELETE</button>
                </label>
            </div>
        </div>
    </div>


    <div th:replace="fragments/display.html :: workers-table(${workers})"></div>

</div>
</body>
<script>
    function deleteChubz() {
        let id = document.getElementById('delete-id')
        if (id == null) return

        fetch(`index/${id.value}`, {method: 'delete'})
            .then(handleErrors)
            .then(_ => window.location.reload(true))
            .catch(alert)
    }

    function handleErrors(result) {
        if (!result.ok) {
            throw new Error(result.statusText)
        }
        return result
    }

    function findChubz(event) {
        if (event != null) {
            event.preventDefault();
        }

        let form = new FormData(document.getElementById('find-workers-form'));
        let query = '?'

        //Paging
        let limit = form.get('limit');
        if (limit.trim() === '') limit = '0';
        let offset = form.get('offset');
        if (offset.trim() === '') offset = '0';
        query += `&limit=${limit}:${offset}`

        //Filtering

        let filters = document.getElementsByClassName('filter-operator')

        for (let filter of filters) {
            let field = document.getElementsByName(filter.name + '-value')[0]
            if (field != null && field.value) {
                query += `&${filter.name}=${filter.value}:${field.value}`
            }
        }

        //Sorting

        let radios = document.getElementsByClassName('sort-radio')
        for (let radio of radios) {
            if (radio.checked) {
                query += `&sort=${radio.value}:${radio.name.substring(5)}`
            }
        }

        let href = window.location.href;

        window.location.href = href.substring(0, href.indexOf('?')) + query

        return false;
    }
</script>
</html>
