<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form fragments!</title>
</head>
<body>
<div th:fragment="form">
    <form id="worker-create-form" method="post" onsubmit="return createChubz(event)">
        <h2>Create</h2>
        <label> Name
            <input name="name" type="text"/>
        </label> <br>
        <label> X
            <input name="x" type="text"/>
        </label> <br>
        <label> Y
            <input name="y" type="text"/>
        </label> <br>
        <label> Salary
            <input name="salary" type="text"/>
        </label> <br>
        <label> Hired
            <input class="form-control" id="hired-date" name="hired" type="text"/>
        </label> <br>
        <label> Quit
            <input class="form-control" id="quit-date" name="quit" type="text"/>
        </label> <br>
        <label> Status
            <select class="custom-select" name="status">
                <option value="FIRED">FIRED</option>
                <option value="HIRED">HIRED</option>
                <option value="RECOMMENDED_FOR_PROMOTION">RECOMMENDED_FOR_PROMOTION</option>
                <option value="REGULAR">REGULAR</option>
                <option value="PROBATION">PROBATION</option>
            </select>
        </label> <br>
        <label> Passport
            <input name="passport" type="text"/>
        </label> <br>
        <label> Eye Color
            <select class="custom-select" name="eye-color">
                <option value="GREEN">GREEN</option>
                <option value="YELLOW">YELLOW</option>
                <option value="BROWN">BROWN</option>
            </select>
        </label> <br>
        <label> Hair Color
            <select class="custom-select" name="hair-color">
                <option value="RED">RED</option>
                <option value="BLACK">BLACK</option>
                <option value="BLUE">BLUE</option>
                <option value="WHITE">WHITE</option>
                <option value="BROWN">BROWN</option>
            </select>
        </label> <br>
        <label> Nationality
            <select class="custom-select" name="nationality">
                <option value="RUSSIA">RUSSIA</option>
                <option value="USA">USA</option>
                <option value="ITALY">ITALY</option>
                <option value="NORTH_KOREA">NORTH_KOREA</option>
            </select>
        </label> <br>

        <h2>Update</h2>
        <label> Id
            <input name="id" type="text"/>
        </label> <br>
        <button class="btn btn-primary">Commit</button>
    </form>
    <script>
        function createChubz(event) {
            event.preventDefault()
            let formElement = document.getElementById('worker-create-form');
            const formElementData = new FormData(formElement)
            let myData = "nothing=nothing"
            let id = formElementData.get('id')

            for (let [name, value] of formElementData) {
                if (value == null || value.trim() === '') {
                    continue;
                }
                myData = `${myData}&${name}=${value}`
            }

            let request = {
                method: 'POST',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: myData
            }

            if (id != null && id.trim() !== '') {
                request.body += '&_method=put'
                fetch(`index/${id}`, request)
                    .then(handleErrors)
                    .then(_ => {
                        window.location.reload(true)
                    })
                    .catch(alert)
            } else {
                fetch(`index`, request)
                    .then(handleErrors)
                    .then(_ => {
                        window.location.reload(true)
                    })
                    .catch(alert)
            }
            return false
        }

        function handleErrors(result) {
            if (!result.ok) {
                throw new Error(result.statusText)
            }
            return result
        }
    </script>
</div>

</body>
</html>
