<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragzz</title>
</head>
<body>
<div th:fragment="workers-table(workers)">
    <h2>Workerz</h2>
    <table class="container-fluid">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>X</th>
            <th>Y</th>
            <th>Created</th>
            <th>Salary</th>
            <th>Hired</th>
            <th>Quit</th>
            <th>Status</th>
            <th>Passport</th>
            <th>Eye Color</th>
            <th>Hair Color</th>
            <th>Nationality</th>
        </tr>
        <tr th:each="worker : ${workers}">
            <td th:text="${worker.id}"></td>
            <td th:text="${worker.name}"></td>
            <td th:text="${worker.coordinates.x}"></td>
            <td th:text="${worker.coordinates.y}"></td>
            <td th:text="${worker.created}"></td>
            <td th:text="${worker.salary}"></td>
            <td th:text="${worker.hired}"></td>
            <td th:text="${worker.quit}"></td>
            <td th:text="${worker.status}"></td>
            <td th:text="${worker.person.passport}"></td>
            <td th:text="${worker.person.eyeColor}"></td>
            <td th:text="${worker.person.hairColor}"></td>
            <td th:text="${worker.person.nationality}"></td>
        </tr>
    </table>
</div>
</body>
</html>
