<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form fragments!</title>
</head>
<body>

<div class="row" th:fragment="filter (label,field)">
    <label class="col" th:for="'field-' + ${field}" th:text="${label}"> Label </label>

    <select class="custom-select col-sm filter-operator" name="field" th:id="'field-' + ${field}" th:name="${field}">
        <option value="lt"> <</option>
        <option value="lte"> <=</option>
        <option value="eq"> =</option>
        <option value="gte"> >=</option>
        <option value="gt"> ></option>
    </select>
    <input class="col filter-field" th:id="${field} + '-value'" th:name="${field} + '-value'" type="text">
</div>

<div th:fragment="sort (label,field)">
    <label th:for="'sort-' + ${field}" th:text="${label}"> Label </label>
    <input class="sort-radio" name="sort-name" th:id="'sort-' + ${field}" th:name="'sort-' + ${field}" type="radio"
           value="asc"/>
    <input th:id="'sort-' + ${field} + '-1'" th:name="'sort-' + ${field}" type="radio" value="dsc"/>
</div>

</body>
</html>
